[submodule "workshop/atuin"]
	path = workshop/atuin
	url = https://github.com/ellie/atuin.git
[submodule "ansible/ansible-yay"]
	path = ansible/ansible-yay
	url = https://github.com/mnussbaum/ansible-yay
