{%- macro sanitize(name) -%}
{% if name == "-" %}dash{% else %}{{ name | replace(" ", "_") | replace("+", "_up") | replace("-", "_down") | replace(".","_") }}{% endif %}
{%- endmacro -%}
{%- macro nec_button(address, function, device_name, name, icon) -%}
- platform: template
  name: {{ device_name }} - {{ name }}
  id: ir_{{ sanitize(device_name | lower) }}_{{ sanitize(name) }}
  {%- if icon %}
  icon: {{ icon }}
  {%- endif %}
  {%- if kwargs %}
  {%- for k, v in kwargs.items() %}
  {{k}}: {{v | tojson}}
  {%- endfor %}
  {%- endif %}
  on_press:
    then:
    - remote_transmitter.transmit_nec:
        address: {{ "0x%04X" % address }}
        command: {{ "0x%04X" % necformat(function) }}
{% endmacro -%}
{%- macro device_buttons(device_name, device) -%}
{%- set address = necformat(device.d, device.s|d(None)) -%}
{%- for function, name in device.functions.items(): %}
{{ nec_button(address, function, device_name, name, ir_icons.get(name), **kwargs) }}
{% endfor -%}
{%- endmacro -%}
{%- macro device_mqtt(device_name, device) -%}
{% for name in device.functions.values() %}
  - topic: livingroom/ir/{{ device_name | lower }}/tx
    payload: {{ name | tojson }}
    then:
    - button.press: ir_{{ device_name | lower }}_{{ sanitize(name) }}
{% endfor %}
{%- endmacro -%}